<ion-view style="" title="HOME">
    <ion-content class="has-header" overflow-scroll="true" padding="false">
        <div style="text-align: center;">
            <img src="img/i4cEMEfHQEdoOFHqQsVC_slide-property.jpg" height="auto" width="100%">
        </div>
        <div style="" class="list card">
            <div class="item item-body">
                <div style="" class="button-bar"></div>
                <div style="" class="button-bar"></div>
                <a style="" class="button button-stable button-block  icon-right ion-ios-person" ui-sref="orangAwam">Orang Awam</a>
                <a style="" class="button button-stable button-block  icon-right ion-ios-briefcase" ui-sref="usahawan">Usahawan</a>
                <a style="" class="button button-stable button-block  icon-right ion-ios-people" ui-sref="wargaPKNS">Warga PKNS</a>
                <a style="" class="button button-stable button-block  icon-right ion-android-done-all" ui-sref="perkhidmatan">Perkhidmatan</a>
            </div>
        </div>
    </ion-content>
</ion-view>