<ion-view style="" title="orang awam">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">pilih satu</div>
            <div class="item item-body">
                <a style="" class="button button-stable button-block " onclick="window.open('http://www.pkns-property.com/1/index.php', '_system', 'location=yes'); return false;" href="#">portal hartanah PKNS</a>
                <a style="" class="button button-stable button-block " onclick="window.open('http://careline.pkns.gov.my/1/index.php', '_system', 'location=yes'); return false;" href="#">PKNS careline</a>
                <a style="" class="button button-stable button-block " onclick="window.open('http://www.pkns.gov.my/index.php/my/direktori/ibu-pejabat-pkns-menara-hpaic', '_system', 'location=yes'); return false;" href="#">Direktori</a>
            </div>
        </div>
    </ion-content>
</ion-view>