<ion-view style="" title="Perkhidmatan">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h2 style="">Sila pilih</h2>
        <a style="" class="button button-stable button-block  icon-right ion-android-list" onclick="window.open('http://www.pkns.gov.my/index.php/my/perkhidmatan/notis-sebutharga-dan-tender', '_system', 'location=yes'); return false;" href="#">Notis Sebut Harga Dan Tender</a>
        <a style="" class="button button-stable button-block  icon-right ion-android-cart" onclick="window.open('http://www.pkns.gov.my/index.php/my/perkhidmatan/pembayaran-atas-talian', '_system', 'location=yes'); return false;"
        href="#">Sistem Pembayaran Online</a>
        <a style="" class="button button-stable button-block  icon-right ion-android-drafts" onclick="window.open('http://www.pkns.gov.my/index.php/my/perkhidmatan/pembayaran-online-pos-malaysia', '_system', 'location=yes'); return false;"
        href="#">Pembayaran online Pos Malaysia</a>
    </ion-content>
</ion-view>