<ion-view style="" title="Usahawan">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <a style="" class="button button-stable button-block  icon-left ion-android-calendar" onclick="window.open('http://www.pkns.gov.my/index.php/my/aktiviti/tanggungjawab-sosial-korporat/program-keusahawanan', '_system', 'location=yes'); return false;"
        href="#">Program keusahawanan</a>
        <button style="" class="button button-stable button-block  icon-left ion-android-bulb">Akademi PKNS</button>
        <a style="" class="button button-stable button-block  icon-left ion-android-home" onclick="window.open('http://www.pkns.gov.my/index.php/my/aktiviti/pejabat-maya', '_system', 'location=yes'); return false;" href="#">Pejabat Maya</a>
        <a style="" class="button button-stable button-block  icon-left ion-android-clipboard" onclick="window.open('http://www.pkns.gov.my/index.php/my/infomedia/peluang-perniagaan-bersama-pkns', '_system', 'location=yes'); return false;"
        href="#">Peluang Perniagaan</a>
    </ion-content>
</ion-view>